package ${cfg.AddCmdExe_p};

import com.aircraftcarrier.framework.exception.BizException;
import com.aircraftcarrier.framework.model.response.SingleResponse;
import com.aircraftcarrier.framework.tookit.BeanUtil;
import com.aircraftcarrier.framework.tookit.StringUtil;
import ${cfg.AddCmd_f};
import ${cfg.Repository_f};
import ${cfg.Do_f};
import org.springframework.stereotype.Component;

import javax.annotation.Resource;


/**
 * 手工添加 执行类
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Component
public class ${cfg.AddCmdExe_n} {

    /**
     * ${cfg.Repository_n}
     */
    #set ($RepositoryI = ${cfg.Repository_n_i})
    @Resource
    ${cfg.Repository_n} ${cfg.Repository_n_i};


    public SingleResponse<Void> execute(${cfg.AddCmd_n} addCmd) {
        beforeCheck(addCmd);
        ${entity} ${cfg.Do_n_i} = BeanUtil.convert(addCmd, ${entity}.class);
        ${RepositoryI}.add${table.originEntityName}(${cfg.Do_n_i}, addCmd.getOperator());
        return SingleResponse.ok();
    }

    /**
     * 新增前置校验
     * 新增和编辑校验 自行提取共用校验扩展
     *
     * @param addCmd addCmd
     */
    private void beforeCheck(${cfg.AddCmd_n} addCmd) {
        if (StringUtil.isBlank(addCmd.getOperator())) {
            throw new BizException("当前操作人为空");
        }
    }
}
