package ${cfg.DetailQry_p};

import com.aircraftcarrier.framework.model.request.Query;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

import javax.validation.constraints.NotNull;


/**
 * 获取详情 DetailQry
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Getter
@Setter
public class ${cfg.DetailQry_n} extends Query {

    /**
     * 主键ID
     */
    @ApiModelProperty(value = "主键ID")
    @NotNull(message = "ID参数必传")
    private Long id;
}
