package ${cfg.DetailQryExe_p};

import com.aircraftcarrier.framework.model.response.SingleResponse;
import com.aircraftcarrier.framework.tookit.BeanUtil;
import ${cfg.DetailQry_f};
import ${cfg.Co_f};
import ${cfg.Repository_f};
import ${cfg.Do_f};
import org.springframework.stereotype.Component;

import javax.annotation.Resource;


/**
 * 获取详情 执行类
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Component
public class ${cfg.DetailQryExe_n} {


    /**
     * ${cfg.Repository_n}
     */
    @Resource
    ${cfg.Repository_n} ${cfg.Repository_n_i};


    public SingleResponse<${cfg.Co_n}> execute(${cfg.DetailQry_n} detailQry) {
        ${entity} ${cfg.Do_n_i} = ${cfg.Repository_n_i}.getDetail(detailQry.getId());
        ${cfg.Co_n} detail${cfg.Co_cs} = BeanUtil.convert(${cfg.Do_n_i}, ${cfg.Co_n}.class);
        return SingleResponse.ok(detail${cfg.Co_cs});
    }
}
