package ${cfg.EditCmdExe_p};

import com.aircraftcarrier.framework.model.response.SingleResponse;
import ${cfg.EditCmd_f};
import ${cfg.Repository_f};
import ${cfg.Do_f};
import org.springframework.stereotype.Component;

import javax.annotation.Resource;


/**
 * 编辑保存 执行类
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Component
public class ${cfg.EditCmdExe_n} {

    /**
     * ${cfg.Repository_n}
     */
    #set ($RepositoryI = ${cfg.Repository_n_i})
    @Resource
    ${cfg.Repository_n} ${cfg.Repository_n_i};


    public SingleResponse<Void> execute(${cfg.EditCmd_n} editCmd) {
        beforeCheck(editCmd);
        ${entity} ${cfg.Do_n_i} = copyEdit(editCmd);
        ${RepositoryI}.editSave(${cfg.Do_n_i}, editCmd.getOperator());
        return SingleResponse.ok();
    }

    /**
     * 编辑 前置校验
     * 新增和编辑校验 自行提取共用校验扩展
     *
     * @param editCmd editCmd
     */
    private void beforeCheck(${cfg.EditCmd_n} editCmd) {
        // 1. Entity entity = getById(editCmd.getId());
        // if (editCmd.getBizNo() != entity.getBizNo()) throw 用户错误
        // 针对多个人看到同一条记录的情况, 并做编辑时的乐观锁+版本号解决冲突
        // 2. if editCmd.getVersion() != entity.getVersion() throw 其他管理员已编辑,请重试
    }

    /**
     * 复制用户确认后的信息
     *
     * @param editCmd 编辑Cmd
     * @return Entity 用户确认后的信息
     */
    private ${entity} copyEdit(${cfg.EditCmd_n} editCmd) {
        ${entity} ${cfg.Do_n_i} = new ${entity}();
#foreach($field in ${table.fields})
    #set ($sfN = ${field.propertyName.substring(0, 1).toUpperCase()} + ${field.propertyName.substring(1)})
        ${cfg.Do_n_i}.set${sfN}(editCmd.get${sfN}());
#end
        return ${cfg.Do_n_i};
    }
}
