package ${cfg.XxxEnum_p};

import com.aircraftcarrier.framework.enums.EnumUtil;
import com.aircraftcarrier.framework.enums.IEnum;
import com.aircraftcarrier.framework.tookit.MapUtil;
import com.aircraftcarrier.framework.tookit.StringPool;
import lombok.AllArgsConstructor;
import lombok.Getter;

import java.util.Map;


/**
 * 属性名 Enum
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Getter
@AllArgsConstructor
public enum XxxEnum implements IEnum<Integer> {
    /**
     * ONE
     */
    ONE(1, "ONE"),

    /**
     * TWO
     */
    TWO(2, "TWO");

    /**
     * MAPPINGS
     */
    private static final Map<Integer, XxxEnum> MAPPINGS = EnumUtil.initMapping(XxxEnum.class);

    /**
     * code
     */
    private final Integer code;

    /**
     * desc
     */
    private final String desc;

    /**
     * 解析code ==> 枚举
     *
     * @param code code
     * @return anEnum
     */
    public static XxxEnum resolve(Integer code) {
        return MAPPINGS.get(code);
    }

    /**
     * code ==> desc
     *
     * @param code code
     * @return desc
     */
    public static String resolveCode(Integer code) {
        XxxEnum enumItem = resolve(code);
        if (enumItem == null) {
            return StringPool.EMPTY;
        }
        return enumItem.getDesc();
    }

}
