package ${cfg.PageQry_p};

import com.aircraftcarrier.framework.model.request.PageQuery;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

import java.math.BigDecimal;
import java.time.LocalDate;
import java.time.LocalDateTime;


/**
 * $!{table.comment} PageQry
 *
 * @author ${author}
 * @date ${date}
 * @since 1.0
 */
@Getter
@Setter
public class ${cfg.PageQry_n} extends PageQuery {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
#end
    @ApiModelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------

}
