<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aircraftcarrier.marketing.store.infrastructure.repository.mapper.CommonMapper">
    <resultMap id="BaseResultMap" type="java.util.Map">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="goods_no" property="goodsNo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="keywordsQuery" resultType="java.util.Map">
        SELECT id,
        <foreach collection="fields" index="index" item="field" separator=",">
            ${field}
        </foreach>
        FROM ${tableName}
        WHERE deleted = 0
        <if test="lastId != null">
            AND id > #{lastId}
        </if>
        <if test="likeField != null">
            AND ${likeField} LIKE #{keyword}
        </if>
        LIMIT #{pageSize}
    </select>

</mapper>